.form-container {
    width: 600px;
    margin: 0 auto;
    margin-top: 30px;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    box-shadow: -8px 8px 8px 8px rgba(255, 224, 179, 1);
}

.form-title {
    font-size: 35px;
    font-weight: 400;
    color: #2A414F;
    font-family: 'Lato';
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-left: 5px;
}

.input-group input {
    width: 415px;
    height: 55px;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 20px;
}

.form-submit {
    width: 415px;
    height: 55px;
    background-color: rgba(255, 153, 0, 0.3);
    border-radius: 5px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.form-submit:hover {
    background-color: rgba(255, 153, 0, 0.5);
}

.form-link {
    color: rgba(255, 153, 0, 1);
    text-decoration: none;
}

.create-account-link {
    text-align: center;
}

.or-container {
    width: 354px;
    height: 20px;
    display: flex;
    align-items: center;
    margin: auto;
}

.left-side {
    width: 145px;
    height: 0px;
    border: 1px solid #95A0A7;
}

.right-side {
    width: 145px;
    height: 0px;
    border: 1px solid #95A0A7;
}

.small-title {
    width: 16px;
    height: 20px;
    color: #95A0A7;
    font-size: 17px;
    margin: 0 auto;
}

.social-login-btn {
    width: 415px;
    height: 55px;
    margin: 10px 0;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.social-login-btn img {
    width: 32px;
    height: 32px;
}

.google-login-btn {
    color: #2A414F;
    font-size: 17px;
}